.app
  background-color: #EAEAEA
  display: grid
  grid-template-columns: minmax(288px, 15%) minmax(60%, 70%) minmax(10%, 15%)
  grid-template-rows: 7vh auto

.line
  width: 80%
  height: 5px
  background-color: rgba(78, 205, 196, 0.8)
  border-radius: 0 50px 50px 0

.hide
  display: none

.content
  padding: 50px
  grid-column-start: 2
  grid-column-end: 4
  &_menu
    display: flex
  &_hide
    display: none

.center
  display: flex
  justify-content: center

.around
  display: flex
  justify-content: space-around